certifi
chardet
click
Flask
idna
itsdangerous
Jinja2
MarkupSafe
numpy==1.26.4
pandas
plotly
python-dateutil
pytz
requests
retrying
scikit-learn
scipy
streamlit
ta
tenacity
threadpoolctl
urllib3
Werkzeug
yfinance
keras
tensorflow
matplotlib
